body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 30px;
}

h1 {
    color: #37decb;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #0ee8d2;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #1687bc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}