* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #020b2d, #041d4a);
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.logo {
    background: #6c63ff;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: bold;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    background: #6c63ff;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 6px;   
}

.logo-text {
    font-size: 18px;
    color: #cfd8ff;
    font-weight: 600;
}

.navbar a {
    color: #cfd8ff;
    margin-right: 20px;
    text-decoration: none;
}

.primary-btn {
    background: #080652;
    border: none;
    padding: 1px 1px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.profile-container {
    display: flex;
    align-items: center;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #020b2d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: none;
    outline: none;
    box-shadow: none;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.profile-circle span {
    text-transform: uppercase;
}

/* HERO */
.hero {
    display: flex;
    padding: 60px;
    gap: 40px;
}

.hero-left {
    width: 60%;
}

.tag {
    color: #6c8cff;
    font-size: 12px;
}

.hero h1 {
    font-size: 36px;
    margin: 15px 0;
}

.hero p {
    color: #bfc8ff;
}

.search {
    margin: 20px 0;
}

.search input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 250px;
}

.search button {
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background: #ff5c8d;
    color: white;
}

.hero-features {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.hero-right {
    position: relative;
}

.hero-right img {
    width: 600px;
    border-radius: 60px;
}

.badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0,0,0,0.6);
    padding: 6px 12px;
    border-radius: 15px;
}

/* SECTIONS */
section {
    padding: 50px 60px;
}

.card-grid {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card, .deal-card {
    background: #0b2a5b;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
}

.card img, .deal-card img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 180px;
}

.card button, .deal-card button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    background: #ff5c8d;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020b2d;
    margin-top: 40px;
}
